node_modules
.next
out
build
dist

.env
.env.local
.env.*.local

prisma/*.db
prisma/*.db-journal
prisma/migrations/dev.db*

public/uploads/*
!public/uploads/.gitkeep

backups/

*.log
.DS_Store
.vscode
.idea
*.tsbuildinfo
next-env.d.ts
